.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dianzan:before {
  content: "\e600";
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.el-image {
  width: 100%;
  height: 100%;
}

button,
input {
  border: none;
  outline: none;
}

img {
  object-fit: cover;
  vertical-align: middle !important;
}

ul,
ol {
  list-style: none;
  overflow: hidden;
}


ul::after {
  clear: both;
}


a {
  color: #000;
  text-decoration: none;
  transition: color .1s ease-in;
}

a:hover {
  text-decoration: none;
}

i {
  transition: color .1s ease-in;
  color: inherit;
  display: block;
}

body {
  font-size: 14px;
  color: #242933;
  font-family: 'vivo Bold';
  overflow-x: hidden;
}

.container {
  width: 1300px;
  margin: 0 auto;
}

.content::before,
.content::after {
  content: '';
  display: table;
}

.content::after {
  clear: both;
}

.el-button:focus,
.el-button:hover {
  border-color: #DCDFE6 !important;
}

.el-button {
  transition: all .1s ease-in;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  outline: none;
}

body .el-input .el-input__inner {
  border: none !important;
}

video:focus {
  outline: -webkit-focus-ring-color auto 0px;
}

.disable-scroll {
  overflow-y: hidden;
  padding-right: 17px;
}

.el-popover {
  text-align: center;
  font-size: 16px;
}

.el-popover__reference-wrapper {
  width: 100%;
  height: 100%;
  display: block;
}


.el-input .el-input__inner {
  border: 1px solid #dcdfe6 !important;
}

.el-input-number--medium {
  line-height: 48px;
}

.el-icon-minus {
  color: #000;
}

.el-icon-plus {
  color: #000;
}

.el-input-number__decrease:not([class$='is-disabled']):hover .el-icon-minus {

  color: #ff4b3d;
}

.el-input-number__increase:hover .el-icon-plus {
  color: #ff4b3d;
}

body .el-input .el-input__inner {
  border: none;
}

body {
  overflow: hidden;
}